@charset "UTF-8";

/***********************
 **** Global Styles *****
 ***********************/

body,fieldset,h1,h2,h3,html,li,p,small,ul {
    margin: 0px;
    padding: 0px;
}

body {
    background:#282828;
    color: #000000;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    height: 100%;
    text-align: left;
    font-style:normal;
	font-size:12px;
}

a { color: #000000; font-weight:bold; font-size:12px; }
a:hover { color:#999; }

p { padding-bottom:10px; }
ul, ol { list-style-type:none; }

.display_block { display:block; }
.border-no a { border:0px !important; }

#banner { padding:10px 10px 0; clear:both; display:block; }

#cd_home_page, #sc_services_page, #cd_event_page { float:none; margin:0 auto; width:960px; background-color:#FFF; border:2px solid #C0C0C0; }

.copyright { margin:0 auto; float:none; width:940px; text-align:center; }

#top_pag_nav { margin:0 auto; float:none; width:940px; background-color:#000; text-align:center; color:#FFF; padding:5px 0; clear:both; display:block; }
#top_pag_nav a { background-color:#000; color:#FFF; font-weight:bold; text-decoration:none; font-size:12px; padding:5px; } 
#top_pag_nav a:hover { color:#fff; background-color:#353F3E; }

#bottom_page_nav { margin:0 auto; float:none; width:auto; border-top:1px solid #000; border-bottom:1px solid #000; text-align:center; color:#FFF; padding:5px 0; clear:both; display:block; }
#bottom_page_nav a { color:#353F3E; font-weight:bold; text-decoration:none; font-size:10px; padding:5px; } 
#bottom_page_nav a:hover { color:#fff; background-color:#353F3E; }

#page_display_info { float:none; margin:0 auto; width:940px; clear:both; display:block; border-bottom:1px solid #999999; }
#page_display_info .site_title { color:#999; font-size:10px; border-right:1px solid #999; padding:8px 8px 8px 0; }
#page_display_info .page_title { color:#999; font-size:22px; font-weight:bold; padding:2px 8px }
#page_display_info .register { color:#999; font-family:Verdana, Geneva, sans-serif; font-size:10px; }
#page_display_info a { color:#999; font-family:Verdana, Geneva, sans-serif; font-size:10px; padding:8px 0 8px 8px; }

#blogs, #view-comments, #blog-index, #services-index { clear:both; width: 500px; } 
#blogs a, #view-comments a, #blog-index a, #services-index a { text-decoration: none; color: #669999; }
#blog-header { float:left; clear:both; margin-bottom: 15px; color:#669999; font-weight:bold; border:1px solid #669999; width:500px; }
#blog-header .blog-title { font-size: 27px; font-weight: normal; letter-spacing: -0.03em; line-height: 1em; padding: 10px 10px 0; display:block; }
#blog-header .comment-count { padding:10px 0 10px 10px; color:#000; font-weight:normal; font-size: 11px; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; }
#blog-header .blog-date { float:left; border-right:1px solid #669999; text-align: center; }
#blog-header .blog-month { font-size:15px; padding: 5px 10px 0; }
#blog-header .blog-day { font-size:22px; padding:0 10px 5px; }
#blog-image { float:left; margin:10px 0; clear: both; }
#blog-body { float:left; font-size:12px; clear: both; margin:10px 0; line-height: 1.6em; }

#blog-index #blog-image { float:left; margin-bottom:10px; clear: both; }

#view-comments .comment { padding:5px 5px 4px; border:1px solid #BDC7D8; margin:0px 0px 10px 0px; background-color:#EDEFF4; }
#comments-header { color: #2F6F57; font-size: 21px; margin: 10px; clear:both; display:block; }
#comments-header #post-comments { float:left;}
#comments-header #view-comments-count { float:right; }
.comment-body { font-size:12px; line-height: 1.6em; }

#new-comments { width:500px; margin:0px; padding:0px; }
#new-comments-header { text-align:center; color: #2F6F57; font-size: 21px; margin: 10px; clear:both; display:block; }

.simple_captcha { width:300px; float:left; clear:both; padding:10px; border:0px !important; }
.simple_captcha .simple_captcha_image { float:left; }
.simple_captcha .simple_captcha_field { float:right; }
.simple_captcha .simple_captcha_label { float:left; }

#cd_home_page_body, #sc_event_details_body { padding:20px; width:900px; float:none; margin:0 auto; }
#cd_gallery, #cd_blog, #sc_services, #sc_event { padding: 20px 10px 20px 20px; width:600px; float:left; margin:0; }
#cd_rail_info { padding: 20px 20px 20px 10px; width:300px; float:right; margin:0; }

.gallery { width:600px; }
#cd_home_page_body .gallery { width:860px; }
.gallery #info { padding-left:10px; float:left; display:block; width: 650px; }
.gallery #info a { margin-bottom:10px; font-size: 15px; font-weight: bold; color:#669999; text-decoration: none; display: block; }
.gallery .gallery-img { width:175px; float:left; padding:10px; }
#gallery-show .gallery-show-image-container { width:900px; text-align:center; }
#gallery-show .gallery-show-title { font-size: 27px; font-weight: normal; letter-spacing: -0.03em; line-height: 1em; padding: 10px 0; display:block; color: #669999; }
#gallery-show .gallery-show-body { float:left; font-size:12px; clear: both; margin:10px 0; line-height: 1.6em; }
#gallery-show .gallery-show-image { float:none; margin:0px auto; }

.twitter { display:none !important; }

.clear { clear:both; }
.left { float: left; }
.right { float: right; }
.alignLeft { text-align:left; }
.alignRight { text-align:right; }
.normal { font-weight:normal; }
.info { color: #C7B299; font-size: 11px; line-height: 16px; }

/* tooltip styling */
.tooltip {
	display:none;
	background:url(http://static.flowplayer.org/tools/img/tooltip/black_arrow_big.png);
	height:163px;
	padding:40px 30px 10px 30px;
	width:310px;
	font-size:11px;
	color:#fff;
}

/* a .label element inside tooltip */
.tooltip .label {
	color:yellow;
	width:35px;
}

.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}



fieldset { 
	width:450px; 
	border:1px solid #C0C0C0; 
	padding:10px; 
	background-color:#EBEBEB; 
}

.pad10 {
    padding: 10px;
}

.pad5 {
    padding: 5px !important;
}

.padr10 {
	padding-right:10px;
}

.padb5 {
	padding-bottom:5px;
}

.padb10 {
	padding-bottom:10px;
}
.padt15 {
	padding-top:15px;
}

.no_margin{
    margin:0px !important;
}

.mar5 {
    margin: 5px !important;
}

.mar10 {
    margin: 10px !important;
}

.mar20 {
    margin: 20px !important;
}

.marb10{
    margin-bottom: 10px !important;
}

.mart10{
    margin-top: 10px;
}

.martb10{
    margin-top: 10px;
	margin-bottom: 10px;
}

.mart15{
    margin-top: 15px;
}

.mart20{
    margin-top: 20px;
}

.marb15{
    margin-bottom: 15px;
}
.marb20{
    margin-bottom: 20px;
}
.marR15{
	margin-right: 15px;
}

#flash{
	font-size:15px;
	text-align:center;
}

flash_html {
	display:inline;
}

flash_ajax{
	display: block;
	position:fixed;
	bottom:0px;
	width:100%;
	z-index:1003;
	color:#ccc;
	background-color:#000;
	padding:4px;

} 

.flash-sucess {
	background-color:#99CC66; 
	border:2px solid #336600; 
	color:#336600; 
	font-weight:bold; 
	padding:15px; 
	margin-bottom:10px;
	font-size:15px;
}

.flash-failure {
	background-color:#FF6666; 
	border:2px solid #FF0000; 
	color:#FF0000; 
	font-weight:bold; 
	padding:15px; 
	margin-bottom:10px;
	font-size:15px;
}

/***********************
 **** Photo Gallery ****
 ***********************/
	#gallery {
	    position:relative;
	    height:360px;
	}
	
    #gallery a {
        float:left;
        position:absolute;
    }
     
    #gallery a img {
        border:none;
    }
     
    #gallery a.show {
        z-index:500;
    }
 
    #gallery .caption {
        z-index:600;
        background-color:#000;
        color:#ffffff;
        height:100px;
        width:100%;
        position:absolute;
        bottom:0;
    }
 
    #gallery .caption .content {
        margin:5px;
    }
     
    #gallery .caption .content h3 {
        margin:0;
        padding:0;
        color:#1DCCEF;
    }
	
	.cs_gallery { margin:0 auto; float:none; width: 820px; }
	

/********************
*** FORM FABULOUS ***
*********************/

select {
	width:150px !important;
	margin:10px 0px !important;
}

.search_keywords_bg {
	background-image:url(../images/css/search_background.jpg);
    border: solid 1px #2A6AB4;
    width: 350px;
	vertical-align:top;
	float:right;
}

input {
	background:transparent;
    border: 0px;
    color: #999B9E;
    font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
    margin: 0px;
    padding: 5px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
	vertical-align:top;
	text-align:left;
}

input, select, textarea, button#post-comments {
    background: #fff;
    border: solid 1px #9fbbcd;
    border-radius: 4px;
    color: #333;
    font: normal 14px "Lucida", Helvetica, Arial, Verdana, sans-serif;
    margin: 0;
    padding: 5px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type='file'],input[type='image'],input[type='file'],input[type='hidden']
{
    background: none;
    border: 0;
    padding: 0;
}

button#post-comments, input[type='submit'] {
    background: #404040;
    border: solid 1px #fff;
    border-radius: 4px;
    color: #fff;
    font: bold 12px "Lucida", Helvetica, Arial, Verdana, sans-serif;
    margin: 5px 0;
    padding: 5px;
    width: 120px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: center;
}

button:hover#post-comments, input[type='submit']:hover {
    background: #79c7eb;
}

textarea { width: 680px; height: 100px; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}	

.field_with_errors label {
	color:#fff;
	font-weight: bold;
}

#gallery .caption, #gallery .caption .content { width:820px !important; }

/**##########
pagination
#######*/
.pagination{
    font-size:12px;
    font-weight:normal;
    text-align:center;
    font-family: 'Trebuchet MS';
}

.pagination .disabled{
    color:#cccccc;
}

.pagination .gap{
    padding-left:5px;
    padding-right:5px;
    font-weight:bold;
    font-size:16px;
}
.results h1 {
}
.results .searchNav{
    padding-top:5px;
    padding-bottom:5px;
    padding-top:10px;
    margin-top:10px;
    border-top:1px solid #aaaaaa;
    width:590px;
}
.pagination a{
    border:1px solid #aaaaaa !important;
    padding-left:6px;
    padding-right:6px;
    color:#666666;
    font-weight:normal;
    text-decoration:none;
    padding-top:0px;
    margin-top:0px;
}

.pagination .current{
    padding-left:5px;
    padding-right:5px;
    color:#EFAB32;
    font-weight:bold;
}
.pagination .start{
    padding-left:6px;
    padding-right:6px;
    color:#EFAB32;
    font-weight:bold;
}

.pagination .next_page,
.pagination .prev_page{

}

#paginate-style { width:600px; float:left; }

.top_shadow {
	background-image: url("../images/shadow_top_right.jpg");
    background-position: right top;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 5px;
    z-index: 102;
}

.middle_shadow {
	background-image: url("../images/shadow_right.jpg");
    background-position: right center;
    background-repeat: repeat-y;
    height: 99%;
    position: absolute;
    right: -5px;
    top: 0;
    width: 5px;
    z-index: 98;
}

.bottom_shadow { 
	background-image: url("../images/shadow_bottom_center.jpg");
    background-repeat: repeat-x;
    background-position: bottom;
    height: 5px;
    width: 100%;
    z-index: 99;
}

#category_container { width:280px; position:relative; background-color:#FFF; float:right; font-weight:bold; }
#cd_rail_info .gallery {  margin: 55px 0 15px; }
.category-title { background-color:#282828; color:#FFF; width: 270px; padding:5px; }
ul.category { padding:0; margin:0;  width:100%; list-style:none; }
li.category { padding:5px 0 5px 5px; width:100%; }
li.category:hover { background-color:#DCDCDC; }
.category a { text-decoration:none; font-size:12px; font-family:Verdana, Geneva, sans-serif; color:#669999; font-weight:normal; }

li.cat-display { padding:5px; margin:5px; width:260px; list-style:none; }

#sc_services_page #cd_rail_info .gallery {  margin: 10px 0 15px; }
#services-index .title { font-size: 17px; color: #669999; margin:10px; float:left; clear:both; }
#services-index .price { font-weight:bold; margin:10px; float:left; clear:both; }
#services-index .desc {  margin:10px; float:left; clear:both; }

#cd_event_page #cd_rail_info .gallery {  margin: 10px 0 15px; }
#cd_event_page .gallery #info { width: 400px; }

#blog-container { width: 500px; float:left; } 
#gallery-container { width: 400px; float:right; }
#gallery-container .gallery { width: 400px; }

#sc_event_details_body textarea { width: 380px; height: 100px; }
#sc_event_details_body #new-comments { margin-left: 10px; padding: 0; width: 400px; }
#sc_event_details_body fieldset { width: 400px; text-align:left; }
#sc_event_details_body #view-comments .comment { margin: 10px 0 0 10px; }
#sc_event_details_body a { color: #669999; }

#preview{
	position:absolute;
	border:1px solid #ccc;
	background:#333;
	padding:5px;
	display:none;
	color:#fff;
	}