<h1>Manage users</h1>

<ol>

<% @users.each do |user| %>
  <% name = user.lastname + ", " + user.firstname %>
  <li><%= link_to name, edit_user_path(user) %>
  	(<%= link_to 'Remove user', user, :confirm => 'Are you sure?', :method => :delete %>)
  </li>
<% end %>
</ol>

<br />

<%= link_to 'New User', new_user_path %>
